<!--========================== About Section Start ==========================-->
<div class="about-section py-80 ">
    <img class="about-bg"src="assets/images/shape/dotted-shape.png" alt="">
    <div class="container">
        <div class="row gy-4 align-items-center flex-wrap-reverse">

            <div class="col-lg-6 position-relative">
                <div class="about-thumb">
                    <div class="about-thumb__inner">
                        <img class="img-2" src="assets/images/featured/featured-product.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 position-relative">
                <div class="about-right-content">
                     <div class="section-heading mb-0">
                        <span class="subtitle">Featured Product</span>
                        <h2 class="section-heading__title"> 
                        What's so Special About Clay bluetooth earphones?
                        </h2>
                        <p class="section-heading__desc mb-4">Clay Bluetooth Earphones are the perfect choice for anyone looking for high-quality, wireless audio that can keep up with their active lifestyle. These earphones are designed with comfort and durability in mind, featuring a sleek, ergonomic design that fits snugly in your ears and stays securely in place even during intense workouts or outdoor activities.</p>

                        <div class="about-bottom mb-4">
                            <ul>
                                <li><i class="fa-solid fa-circle-check"></i> <p>This ensures a secure fit that stays in place even activities.</p></li>
                                <li><i class="fa-solid fa-circle-check"></i> <p>The earphones are equipped with advanced drivers that deliver rich.</p></li>
                                <li><i class="fa-solid fa-circle-check"></i> <p>The earphones come with a compact charging case.</p></li>
                                <li><i class="fa-solid fa-circle-check"></i> <p>These earphones feature advanced noise-cancelling technology.</p></li>
                                <li><i class="fa-solid fa-circle-check"></i> <p>making them ideal for intense workouts or outdoor activities.</p></li>
                            </ul>
                        </div>
                        
                        <div class="about-bottom">
                        <a href="single-product.html" class="btn btn--base me-3 mb-2">
                            Buy Now <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                        </div>
                     </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--========================== About Section End ==========================-->