<!-- ==================== Accordion Start Here ==================== -->
<!-- style="background-image: url(assets/images/faq/faq-bg.jpg);" -->
<section class="accordion-area py-80 " >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading  text-center">
                    <span class="subtitle">FAQ</span>
                    <h2 class="section-heading__title "> 
                      Frequently Asked Question.
                    </h2>
                    <p class="section-heading__desc">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="accordion custom--accordion" id="accordionExample">
                  <h4 class="mb-4">Payment Information.</h4>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           1. What payment methods do you accept?
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          We accept various payment methods, including credit cards (Visa, Mastercard, American Express), debit cards, PayPal, and online banking transfers. You can choose the payment method that is most convenient.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           2. How can I get a copy of my payment receipt?
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                             Yes, we offer custom software development services to the specific needs of our clients. We work closely with our clients to understand their requirements and develop  that meet their unique needs.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           3. How can YouTube growth services help me?
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Yes, we offer custom software development services to the specific needs of our clients. We work closely with our clients to understand their requirements and develop  that meet their unique needs.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFoure">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">
                            4. Can I save my payment information?
                        </button>
                      </h2>
                      <div id="collapseFoure" class="accordion-collapse collapse" aria-labelledby="headingFoure" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                             Yes, we offer custom software development services to the specific needs of our clients. We work closely with our clients to understand their requirements and develop  that meet their unique needs.
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion custom--accordion" id="accordionExample2">
                  <h4 class="mb-4">Orders and Returns.</h4>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                           1. How can I place an order?
                        </button>
                      </h2>
                      <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            To place an order, simply browse our website and add the desired items to your cart. Proceed to the checkout page, where you will need to provide your shipping information and select a payment method. 
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                           2.  Can I cancel or modify my order?
                        </button>
                      </h2>
                      <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            To place an order, simply browse our website and add the desired items to your cart. Proceed to the checkout page, where you will need to provide your shipping information and select a payment method. 
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                           3. How can I track my order?
                        </button>
                      </h2>
                      <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            To place an order, simply browse our website and add the desired items to your cart. Proceed to the checkout page, where you will need to provide your shipping information and select a payment method. 
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFoure2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoure2" aria-expanded="false" aria-controls="collapseFoure2">
                            4. What is your return policy?
                        </button>
                      </h2>
                      <div id="collapseFoure2" class="accordion-collapse collapse" aria-labelledby="headingFoure2" data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            To place an order, simply browse our website and add the desired items to your cart. Proceed to the checkout page, where you will need to provide your shipping information and select a payment method. 
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Accordion End Here ==================== -->