<!-- ==================== Blog Start Here ==================== -->
<section class="blog py-80 reveal">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading  text-center">
                    <span class="subtitle">Blog</span>
                    <h2 class="section-heading__title">
                         News & Feeds.
                    </h2>
                    <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
           
            <div class="col-lg-6 col-md-6">
                <div class="blog-item">
                    <div class="blog-item__thumb">
                        <a href="blog-details.html" class="blog-item__thumb-link">
                            <img src="assets/images/blog/blog-6.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item__content">
                        
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">In today’s digital landscape, social a marketing is an essential</a></h4>
                        <a href="blog-details.html" class="btn btn--base pill">Read More <span class="btn--simple__icon"><i class="fas fa-arrow-right"></i></span> </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="blog-item">
                    <div class="blog-item__thumb">
                        <a href="blog-details.html" class="blog-item__thumb-link">
                            <img src="assets/images/blog/blog-5.png" alt="">
                        </a>
                    </div>
                    <div class="blog-item__content">
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">This level of interaction helps to build trust and credibility.</a></h4>
                        <a href="blog-details.html" class="btn btn--base pill">Read More <span class="btn--simple__icon"><i class="fas fa-arrow-right"></i></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Blog End Here ==================== -->