<!--========================== Coverage Section Start ==========================-->
<div class="client py-60 section-bg">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-10 position-relative">
                <div class="section-heading  text-center">
                    <span class="subtitle">Payment Methods</span>
                    <h2 class="section-heading__title ">
                        Our Supported Payment Methods
                    </h2>
                    <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
        <div class="client-logos client-slider">
            <img src="assets/images/2__brands/client-01.png" alt="">
            <img src="assets/images/2__brands/client-02.png" alt="">
            <img src="assets/images/2__brands/client-03.png" alt="">
            <img src="assets/images/2__brands/client-04.png" alt="">
            <img src="assets/images/2__brands/client-05.png" alt="">
            <img src="assets/images/2__brands/client-06.png" alt="">
            <img src="assets/images/2__brands/client-08.png" alt="">
            <img src="assets/images/2__brands/client-09.png" alt="">
            <img src="assets/images/2__brands/client-10.png" alt="">
        </div>
    </div>
</div>
<!--========================== Coverage Section End ==========================-->