<!-- ==================== Catagories Start Here ==================== -->
<section class="blog pt-80 reveal">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading  text-center">
                    <span class="subtitle">Our Best Course</span>
                    <h2 class="section-heading__title">
                         News & Feeds.
                    </h2>
                    <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center pt-60">
           
            <div class="col-lg-3 col-md-6">
                <div class="course__heading">
                    <h1>Our Best Course</h1>
                    <a href="blog-details.html" class="btn  button__hover--Effect pill mt-5">Read More <span class="btn--simple__icon"><i class="fas fa-arrow-right"></i></span> </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="course-type">
                    <div class="course-icon">
                        <a href="#" class="blog-item__thumb-link">
                            <img class="catagorie__logo" src="assets/images/catagories/logo-6.png" alt="">
                        </a>
                    </div>
                    
                    <div class="cours-item__content">
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">Engineering</a></h4>
                        <p class="course-type__text" >8 semester</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="course-type">
                    <div class="course-icon">
                        <a href="#" class="blog-item__thumb-link">
                            <img class="catagorie__logo" src="assets/images/catagories/logo-2.png" alt="">
                        </a>
                    </div>
                    
                    <div class="cours-item__content">
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">IT & Software</a></h4>
                        <p class="course-type__text" >4 semester</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="course-type">
                    <div class="course-icon">
                        <a href="#" class="blog-item__thumb-link">
                            <img class="catagorie__logo" src="assets/images/catagories/logo-3.png" alt="">
                        </a>
                    </div>
                    
                    <div class="cours-item__content">
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">Chemistry</a></h4>
                        <p class="course-type__text" >6 semester</p>
                    </div>
                </div>
            </div>
        </div>

    <!-- second raw -->

        <div class="row pt-60 gy-4 justify-content-center">
           
            <div class="col-lg-3 col-md-6">
                <div class="course-type">
                    <div class="course-icon">
                        <a href="#" class="blog-item__thumb-link">
                            <img class="catagorie__logo" src="assets/images/catagories/logo-5.png" alt="">
                        </a>
                    </div>
                    
                    <div class="cours-item__content">
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">Management</a></h4>
                        <p class="course-type__text" >8 semester</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="course-type">
                    <div class="course-icon">
                        <a href="#" class="blog-item__thumb-link">
                            <img class="catagorie__logo" src="assets/images/catagories/logo-4.png" alt="">
                        </a>
                    </div>
                    
                    <div class="cours-item__content">
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">Literature</a></h4>
                        <p class="course-type__text" >6 semester</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="course-form">
                    <h3> Get Free Courses ! <br/>Book Your Seat Now.</h3>
                    <div class="course-field">
                        <div class="row">
                            <div class="col-sm-6 pt-5">
                                <input class="form--control" type="text" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="col-sm-6 pt-5">
                                <input class="form--control" type="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="col-sm-7 pt-5">
                                <input class="form--control" type="text" id="sub" placeholder="Your subject"/>
                            </div>
                            <div class="col-sm-5 pt-5">
                                <button type="button" class="btn button__hover--Effect pill" >Book Seat</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>

    </div>
</section>
<!-- ==================== Catagories End Here ==================== -->