<!-- ==================== Experience Start Here ==================== -->
<section class="experience-area py-80 ">
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-solid fa-list"></i>
                    </div>
                    <div class="experience__count">
                        <h3><span class="odometer" data-count="2545">00</span><span class="letter">+</span></h3>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Our Happy Client</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-solid fa-list-check"></i>
                    </div>
                    <div class="experience__count">
                        <h3><span class="odometer" data-count="600">00</span><span class="letter">+</span></h3>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Completed Orders</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="experience__count">
                        <h3><span class="odometer" data-count="350">00</span><span class="letter">+</span></h3>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Total Active Users</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-solid fa-headset"></i>
                    </div>
                    <div class="experience__count">
                        <h3><span class="odometer" data-count="24">00</span><span class="letter">/7</span></h3>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Customer Support</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Experience End Here ==================== -->