<!-- ==================== Our Products Start Here ==================== -->
<section class="echommerce-products py-80 section-bg">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading  text-center">
                    <span  class="subtitle" >Trending Products.</span>
                    <h2 class="section-heading__title ">Our Trending Products.</h2>
                    <p class="section-heading__desc">Clay Bluetooth Earphones are the perfect choice for anyone looking for high-quality, wireless audio that can keep up with their active lifestyle.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="ecommerce-product">
                    <div class="ecommerce-product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-1.png" alt="">
                        </a>
                        <div class="product-badge bg--danger">
                            <p>Hot</p>
                        </div>
                        <div class="product-action-wrap">
                            <ul>
                                <li class="cart-btn">
                                     <button ><i class="fa-solid fa-cart-shopping"></i></button>
                                     <span class="tooltip">Add to Cart</span>
                                </li>
                                <li class="cart-btn">
                                    <button data-bs-toggle="modal" data-bs-target="#producQuickViewModal"><i class="fa-solid fa-eye" ></i></button>
                                    <span class="tooltip">Quick View</span>
                                </li>
                                <li class="cart-btn">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <span class="tooltip">Add To Wishlist</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ecommerce-product__content">
                        <div class="review-wrap d-flex align-items-center mb-2">
                            <ul class="rating-list justify-content-center">
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="review-count">(5 Review)</p>
                        </div>
                        <h3 class="title"><a href="product-details.html">Conforms to the natural Curve.</a></h3>
                        <div class="price-wrap">
                            <span class="product-price old">$600</span>
                            <span class="product-price new">$500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="ecommerce-product">
                    <div class="ecommerce-product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-2.png" alt="">
                        </a>
                        <div class="product-badge bg--success">
                            <p>Trending</p>
                        </div>
                        <div class="product-action-wrap">
                            <ul>
                                <li class="cart-btn">
                                     <button ><i class="fa-solid fa-cart-shopping"></i></button>
                                     <span class="tooltip">Add to Cart</span>
                                </li>
                                <li class="cart-btn">
                                    <button data-bs-toggle="modal" data-bs-target="#producQuickViewModal"><i class="fa-solid fa-eye" ></i></button>
                                    <span class="tooltip">Quick View</span>
                                </li>
                                <li class="cart-btn">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <span class="tooltip">Add To Wishlist</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ecommerce-product__content">
                        <div class="review-wrap d-flex align-items-center mb-2">
                            <ul class="rating-list justify-content-center">
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="review-count">(5 Review)</p>
                        </div>
                        <h3 class="title"><a href="product-details.html">Conforms to the natural Curve.</a></h3>
                        <div class="price-wrap">
                            <span class="product-price old">$600</span>
                            <span class="product-price new">$500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="ecommerce-product">
                    <div class="ecommerce-product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-3.png" alt="">
                        </a>
                        <div class="product-badge bg--violet">
                            <p>-20%</p>
                        </div>
                        <div class="product-action-wrap">
                            <ul>
                                <li class="cart-btn">
                                     <button ><i class="fa-solid fa-cart-shopping"></i></button>
                                     <span class="tooltip">Add to Cart</span>
                                </li>
                                <li class="cart-btn">
                                    <button data-bs-toggle="modal" data-bs-target="#producQuickViewModal"><i class="fa-solid fa-eye" ></i></button>
                                    <span class="tooltip">Quick View</span>
                                </li>
                                <li class="cart-btn">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <span class="tooltip">Add To Wishlist</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ecommerce-product__content">
                        <div class="review-wrap d-flex align-items-center mb-2">
                            <ul class="rating-list justify-content-center">
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="review-count">(5 Review)</p>
                        </div>
                        <h3 class="title"><a href="product-details.html">Conforms to the natural Curve.</a></h3>
                        <div class="price-wrap">
                            <span class="product-price old">$600</span>
                            <span class="product-price new">$500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="ecommerce-product">
                    <div class="ecommerce-product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-4.png" alt="">
                        </a>
                        <div class="product-badge bg--base">
                            <p>Sale</p>
                        </div>
                        <div class="product-action-wrap">
                            <ul>
                                <li class="cart-btn">
                                     <button ><i class="fa-solid fa-cart-shopping"></i></button>
                                     <span class="tooltip">Add to Cart</span>
                                </li>
                                <li class="cart-btn">
                                    <button data-bs-toggle="modal" data-bs-target="#producQuickViewModal"><i class="fa-solid fa-eye" ></i></button>
                                    <span class="tooltip">Quick View</span>
                                </li>
                                <li class="cart-btn">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <span class="tooltip">Add To Wishlist</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ecommerce-product__content">
                        <div class="review-wrap d-flex align-items-center mb-2">
                            <ul class="rating-list justify-content-center">
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="review-count">(5 Review)</p>
                        </div>
                        <h3 class="title"><a href="product-details.html">Conforms to the natural Curve.</a></h3>
                        <div class="price-wrap">
                            <span class="product-price old">$600</span>
                            <span class="product-price new">$500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="ecommerce-product">
                    <div class="ecommerce-product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-3.png" alt="">
                        </a>
                        <div class="product-badge bg--violet">
                            <p>-20%</p>
                        </div>
                        <div class="product-action-wrap">
                            <ul>
                                <li class="cart-btn">
                                     <button ><i class="fa-solid fa-cart-shopping"></i></button>
                                     <span class="tooltip">Add to Cart</span>
                                </li>
                                <li class="cart-btn">
                                    <button data-bs-toggle="modal" data-bs-target="#producQuickViewModal"><i class="fa-solid fa-eye" ></i></button>
                                    <span class="tooltip">Quick View</span>
                                </li>
                                <li class="cart-btn">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <span class="tooltip">Add To Wishlist</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ecommerce-product__content">
                        <div class="review-wrap d-flex align-items-center mb-2">
                            <ul class="rating-list justify-content-center">
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="review-count">(5 Review)</p>
                        </div>
                        <h3 class="title"><a href="product-details.html">Conforms to the natural Curve.</a></h3>
                        <div class="price-wrap">
                            <span class="product-price old">$600</span>
                            <span class="product-price new">$500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="ecommerce-product">
                    <div class="ecommerce-product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-2.png" alt="">
                        </a>
                        <div class="product-badge bg--success">
                            <p>Trending</p>
                        </div>
                        <div class="product-action-wrap">
                            <ul>
                                <li class="cart-btn">
                                     <button ><i class="fa-solid fa-cart-shopping"></i></button>
                                     <span class="tooltip">Add to Cart</span>
                                </li>
                                <li class="cart-btn">
                                    <button data-bs-toggle="modal" data-bs-target="#producQuickViewModal"><i class="fa-solid fa-eye" ></i></button>
                                    <span class="tooltip">Quick View</span>
                                </li>
                                <li class="cart-btn">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <span class="tooltip">Add To Wishlist</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ecommerce-product__content">
                        <div class="review-wrap d-flex align-items-center mb-2">
                            <ul class="rating-list justify-content-center">
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="review-count">(5 Review)</p>
                        </div>
                        <h3 class="title"><a href="product-details.html">Conforms to the natural Curve.</a></h3>
                        <div class="price-wrap">
                            <span class="product-price old">$600</span>
                            <span class="product-price new">$500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="ecommerce-product">
                    <div class="ecommerce-product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-4.png" alt="">
                        </a>
                        <div class="product-badge bg--base">
                            <p>Sale</p>
                        </div>
                        <div class="product-action-wrap">
                            <ul>
                                <li class="cart-btn">
                                     <button ><i class="fa-solid fa-cart-shopping"></i></button>
                                     <span class="tooltip">Add to Cart</span>
                                </li>
                                <li class="cart-btn">
                                    <button data-bs-toggle="modal" data-bs-target="#producQuickViewModal"><i class="fa-solid fa-eye" ></i></button>
                                    <span class="tooltip">Quick View</span>
                                </li>
                                <li class="cart-btn">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <span class="tooltip">Add To Wishlist</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ecommerce-product__content">
                        <div class="review-wrap d-flex align-items-center mb-2">
                            <ul class="rating-list justify-content-center">
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="review-count">(5 Review)</p>
                        </div>
                        <h3 class="title"><a href="product-details.html">Conforms to the natural Curve.</a></h3>
                        <div class="price-wrap">
                            <span class="product-price old">$600</span>
                            <span class="product-price new">$500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="ecommerce-product">
                    <div class="ecommerce-product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-1.png" alt="">
                        </a>
                        <div class="product-badge bg--danger">
                            <p>Hot</p>
                        </div>
                        <div class="product-action-wrap">
                            <ul>
                                <li class="cart-btn">
                                     <button ><i class="fa-solid fa-cart-shopping"></i></button>
                                     <span class="tooltip">Add to Cart</span>
                                </li>
                                <li class="cart-btn">
                                    <button data-bs-toggle="modal" data-bs-target="#producQuickViewModal"><i class="fa-solid fa-eye" ></i></button>
                                    <span class="tooltip">Quick View</span>
                                </li>
                                <li class="cart-btn">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <span class="tooltip">Add To Wishlist</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ecommerce-product__content">
                        <div class="review-wrap d-flex align-items-center mb-2">
                            <ul class="rating-list justify-content-center">
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                <li class="rating-list__item"><i class="fas fa-star"></i></li>
                            </ul>
                            <p class="review-count">(5 Review)</p>
                        </div>
                        <h3 class="title"><a href="product-details.html">Conforms to the natural Curve.</a></h3>
                        <div class="price-wrap">
                            <span class="product-price old">$600</span>
                            <span class="product-price new">$500</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 d-flex justify-content-end">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#"><</a></li>
                      <li class="page-item"><a class="page-link active" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">></a></li>
                    </ul>
                  </nav> 
            </div>
        </div>
    </div>
</section>
<!-- ==================== Our Products End Here ==================== -->


<!-- ==================== Modal Start Here ==================== -->
<section class="product-details-area py-80 modal fade" id="producQuickViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="row gy-4 align-items-center">
                <div class="col-lg-6">
                    <div class="product-details-left align-items-center">
                        <div class="product-details-left__nav">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                                    <img src="assets/images/products/product-1.png" alt="">
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                                    <img src="assets/images/products/product-1.png" alt="">
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                                    <img src="assets/images/products/product-1.png" alt="">
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="product-details-left__content">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                    <div class="product-details-left__thumb">
                                        <img src="assets/images/products/product-1.png" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                    <div class="product-details-left__thumb">
                                        <img src="assets/images/products/product-1.png" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                                    <div class="product-details-left__thumb">
                                        <img src="assets/images/products/product-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="product-details">
                        <div class="product-details__content">
                            <h3 class="title">Conforms to the natural Curve.</h3>
                            <div class="review-wrap d-flex align-items-center mb-2">
                                <p class="stock me-2">In Stock: 5</p>
                                <ul class="rating-list justify-content-center">
                                    <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                </ul>
                                <p class="review-count">(5 Review)</p>
                            </div>
                            <p class="desc mb-2">The earphones are equipped with advanced drivers rich, crystal-clear sound with deep bass and crisp highs, you in music and audio content.</p>
                            <div class="price-wrap mb-2">
                                <span class="product-price old">$600</span>
                                <span class="product-price new">$500</span>
                            </div>
                            
                            <div class="about-bottom mb-3">
                                <ul>
                                    <li class="mb-2"><i class="fa-solid fa-circle-check"></i> <p>Hurry up!! only <span>5</span> items left</p></li>
                                    <li class="mb-0"><i class="fa-solid fa-circle-check"></i> <p>Sells you get 20% commission of price.</p></li>
                                </ul>
                                
                            </div>
                                <button class="btn--sm btn--base outline hover-white-c  mb-3">Sells For Commission</button>
                            <div class="project-details mb-3">
                                <div class="quantity_box">
                                    <button type="button" class="sub"><i class="fa fa-minus"></i></button>
                                    <input type="number" id="1" value="0">
                                    <button type="button" class="add"><i class="fa fa-plus"></i></button>
                                </div>
                                <button class="btn--sm btn--base outline hover-white-c mr-2 mb-10">Add To Cart</button>
                                <button class="btn--sm btn--base outline hover-white-c mb-10 ms-2">Buy Now</button>
                            </div>
                            <div class="product-details__bottom mb-2">
                                <ul>
                                    <li class="mb-2">
                                        <i class="fa-solid fa-truck-fast"></i> <p><span>Estimated Delivery:</span>  Within 5-7 days</p>
                                    </li>
                                    <li class="mb-1">
                                        <i class="fa-solid fa-cart-shopping"></i><p><span>Free shipping:</span>  On orders over $1499 and above.</p>
                                    </li>
                                </ul>
                                <div class="product-details__number">
                                    <div class="blog-details__share mt-2 mb-2 d-flex align-items-center flex-wrap">
                                        <h5 class="social-share__title mb-0 me-sm-3 me-1 d-inline-block">Share This</h5>
                                        <ul class="social-list blog-details">
                                            <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                                            <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link"> <i class="fab fa-twitter"></i></a></li>
                                            <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                                            <li class="social-list__item"><a href="https://www.pinterest.com" class="social-list__link"> <i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="payment">
                                    <li class="mb-2">
                                        <p><span>Guaranteed Safe Checkout:</span></p>
                                        <img src="assets/images/products/payment-option.png" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Modal Start End ==================== -->