<!-- ==================== Most Featured Start Here ==================== -->
<section class="blog py-80 reveal">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading  text-center">
                    <span class="subtitle">Most Featured Courses</span>
                    <h2 class="section-heading__title">
                        Most Featured Courses
                    </h2>
                    <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-left pt-60 d-flex flex-wrap">
           

            <div class="col-lg-4 col-md-6">
                <div class="featured__item">
                    <div class="itemImg">
                        <a href="#" class="blog-item__thumb-link">
                            <img class="fetured__img" src="assets/images/featured/featured-product-3.jpg" alt="">
                        </a>
                    </div>
                    
                    <div class="featured-item__content">
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">Engineering</a></h4>
                       
                    </div>
                    <div class="author__content">
                        <img class="author__img" src="assets/images/featured/educator-img25.jpg" alt="">
                        <p>Prof. Sammy James</p>
                    </div>
                    <div class="entry-meta">
                        <div class="student__member">
                            <li class="contact-list__item"> <span class="contact-list__item-icon"><i class="fa-solid fa-users student__member--icon"></i></span><a href="mailto:info@demo.com" class="contact-list__link"> 60+ students</a></li>
                        </div>
                        <a href="contact.html" class=" me-4 mb-2">
                            Learn More <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="featured__item--container">
                    <div class="featured__itemImg--container">
                        <a href="#" class="blog-item__thumb-link">
                            <img class="fetured__img" src="assets/images/featured/featured-product-2.jpg" alt="">
                        </a>
                    </div>
                    
                    <div class="featured-item__content">
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">AI & Data Science</a></h4>
                        
                    </div>
                    <div class="author__content">
                        <img class="author__img" src="assets/images/featured/educator-img22.jpg" alt="">
                        <p>Prof. Sammy James</p>
                    </div>
                    <div class="entry-meta">
                        <div class="student__member">
                            <li class="contact-list__item"> <span class="contact-list__item-icon"><i class="fa-solid fa-users student__member--icon"></i></span><a href="mailto:info@demo.com" class="contact-list__link"> 60+ students</a></li>
                        </div>
                        <a href="contact.html" class=" me-4 mb-2">
                            Learn More <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="featured__item--container">
                    <div class="featured__itemImg--container">
                        <a href="#" class="blog-item__thumb-link">
                            <img class="fetured__img" src="assets/images/featured/featured-product-5.jpg" alt="">
                        </a>
                    </div>
                    
                    <div class="featured-item__content">
                        <h4 class="blog-item__title"><a href="blog-details.html" class="blog-item__title-link">Robotics</a></h4>
                        
                    </div>
                    <div class="author__content">
                        <img class="author__img" src="assets/images/featured/educator-img24.jpg" alt="">
                        <p>Prof. Sammy James</p>
                    </div>
                    <div class="entry-meta">
                        <div class="student__member">
                            <li class="contact-list__item"> <span class="contact-list__item-icon"><i class="fa-solid fa-users student__member--icon"></i></span><a href="mailto:info@demo.com" class="contact-list__link"> 60+ students</a></li>
                        </div>
                        <a href="contact.html" class=" me-4 mb-2">
                            Learn More <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ==================== Most Featured End Here ==================== -->