
<!-- ==================== Footer Start Here ==================== -->
<footer class="footer-area ">
    <div class="pb-60 pt-80">
        <div class="container">
            <div class="row justify-content-center gy-5">
                <div class="col-xl-4 col-sm-6">
                    <div class="footer-item">
                        <div class="footer-item__logo">
                            <a href="index.html" class="footer-logo-normal" id="footer-logo-normal"> <img src="assets/images/logo/logo.png" alt=""></a>
                            <a href="index.html" class="footer-logo-dark hidden" id="footer-logo-dark"> <img src="assets/images/logo/dark-logo.png" alt=""></a>
                        </div>
                        <p class="footer-item__desc mb-3">Let's make something great together. We are trusted by over 5000+ clients. Join them by using our services and grow your business.</p>

                        <ul class="social-list">
                            <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                            <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link active"> <i class="fab fa-twitter"></i></a></li>
                            <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                            <li class="social-list__item"><a href="https://www.pinterest.com" class="social-list__link"> <i class="fab fa-instagram"></i></a></li>
                        </ul>
                        
                    </div>
                </div> 
                <div class="col-xl-2 col-sm-6">
                    <div class="footer-item">
                        <h5 class="footer-item__title">Company</h5>
                        <ul class="footer-menu">
                            <li class="footer-menu__item"><a href="about.html" class="footer-menu__link">About Us </a></li>
                            <li class="footer-menu__item"><a href="faq.html" class="footer-menu__link">Faq</a></li>
                            <li class="footer-menu__item"><a href="terms-of-service.html" class="footer-menu__link">Privacy Policy</a></li>
                            <li class="footer-menu__item"><a href="terms-of-service.html" class="footer-menu__link">Term Of Services</a></li>
                            <li class="footer-menu__item"><a href="terms-of-service.html" class="footer-menu__link">Refund Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-item">
                        <h5 class="footer-item__title">My Account</h5>
                        <ul class="footer-menu">
                            <li class="footer-menu__item"><a href="login.html" class="footer-menu__link">My Account </a></li>
                            <li class="footer-menu__item"><a href="wishlist.html" class="footer-menu__link">Wishlist</a></li>
                            <li class="footer-menu__item"><a href="wishlist.html" class="footer-menu__link">Track Orders</a></li>
                            <li class="footer-menu__item"><a href="product-details.html" class="footer-menu__link">Shipping</a></li>
                            <li class="footer-menu__item"><a href="cart.html" class="footer-menu__link">Cart</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-item">
                        <h5 class="footer-item__title">Newsletter</h5>

                        <p class="footer-item__desc mb-3"> Subscribe to our newsletter for updates, promotions, and exclusive offers. Don't miss out!</p>

                        <form action="#" autocomplete="off">
                            <div class="search-box footer w-100">
                                <input type="text" class="form--control" placeholder="Search...">
                                <button type="submit" class="btn btn--base btn--sm">Subscribe</button>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Footer Top End-->
  
    <!-- bottom Footer -->
    <div class="bottom-footer section-bg py-3">
        <div class="container">
            <div class="row gy-2">
                <div class="col-lg-6 col-md-12">
                    <div class="bottom-footer-text"> &copy; Copyright 2022 . All rights reserved.</div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="bottom-footer-menu">
                        <ul>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms of Services</a></li>
                            <li><a href="">Cookie Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- ==================== Footer End Here ==================== -->
  