<!-- ==================== goal section Start Here ==================== -->
<section class="goal py-80 reveal">
    <div class="container">
        <div class="row goal-item align-items-center">
            <div class="col-md-6 col-lg-7 ">
                <div class="itemImg">
                    <img class="__img" src="assets/images/teacher/educator-img14.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5 ">
                <div class="goal-item__content d-flex flex-column align-items-center justify-content-center">
                    <span class="subtitle">Our Goal !</span>
                    <h2 class="section-heading__title">
                        Committed To The Best Results !
                    </h2>
                    <p class="section-heading__desc mb-30">Per sed, mattis. Integer viverra euismod maecenas incidunt, phasellus consequatur aliquam nihil temporibus in assumens deserunt convallis, eius.</p>
                    <a class="btn button__hover--Effect pill" href="contact.html">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== goal section End Here ==================== -->