<!--========================== Header section Start ==========================-->
<div class="header-main-area">

    <div class="header-top">
        <div class="container">
            <div class="top-header-wrapper">    
                <div class="top-contact">
                    <ul class="login-registration-list d-flex flex-wrap justify-content-between align-items-center">
                        <li class="login-registration-list__item">
                            <ul class="social-list">
                                <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                                <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link"> <i class="fab fa-twitter"></i></a></li>
                                <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                                <li class="social-list__item"><a href="https://www.pinterest.com" class="social-list__link"> <i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div> 
                <div class="top-button">
                    <div class="language-box me-2">
                        <select class="select">
                            <option selected="">English</option>
                            <option value="1">Bangla</option>
                            <option value="2">French</option>
                            <option value="3">Spenich</option>
                        </select>
                    </div>
                    
                    <ul class="contact-list">
                        <li class="contact-list__item"> <span class="contact-list__item-icon"><i class="fa-solid fa-phone"></i></span><a href="tel:005657647672" class="contact-list__link"> (00) 565 764 7672</a></li>
                        <li class="contact-list__item"> <span class="contact-list__item-icon"><i class="fas fa-envelope"></i></span><a href="mailto:info@demo.com" class="contact-list__link"> info@demo.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="header" id="header">
        <div class="container position-relative">          
            <div class="row">
                <div class="header-wrapper">
                
                    <div class="header-menu-wrapper align-items-center d-flex">
                        <div class="logo-wrapper">
                            <a href="index.html" class="normal-logo" id="normal-logo"> <img src="assets/images/logo/logo.png" alt=""></a>
                            <a href="index.html" class="dark-logo hidden" id="dark-logo"> <img src="assets/images/logo/dark-logo.png" alt=""></a>
                        </div>
                    </div>
                    
                        
                    <div class="menu-wrapper">    
                        <ul class="main-menu">
                            <li><a class='active' href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="shope.html">Shope</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li class="position-relative">
                                <div class="menu-search-wrap">
                                    <div class="menu-search-wrap--search-icon">
                                        <i class="fa-solid fa-magnifying-glass header-search-icon"></i>
                                        <i class="fa-solid fa-xmark close-hide-show"></i>
                                    </div>
                                    
                                    <div class="search-box header-search header-search-hide-show">
                                        <input type="text" class="form--control" placeholder="Search...">
                                        <button type="submit" class="search-box__button"><i class="fas fa-search"></i></button>
                                    </div>
                                    
                                </div>
                        </ul>
                    </div>
                    
                    <div class="menu-right-wrapper">     
                        <ul>
                            <li>
                                <div class="light-dark-btn-wrap ms-1" id="light-dark-checkbox">
                                    <i class="fas fa-moon mon-icon"></i>
                                    <i class='fas fa-sun sun-icon'></i>
                                </div> 
                            </li>
                            <li class='shopping-cart position-relative'> 
                                <a  href="cart.html">
                                    <i class="fa-solid fa-cart-shopping"></i> 
                                </a>
                                <span class="count-item">4</span>
                            </li>
                            <li class='shopping-cart position-relative'> 
                                <a  href="wishlist.html">
                                    <i class="fa-solid fa-heart"></i> 
                                </a>
                                <span class="count-item">2</span>
                            </li>
                            <li><i class="fa-solid fa-bars sidebar-menu-show-hide"></i></li>
                        </ul>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>

<!--========================== Header section End ==========================-->


 <!--========================== Sidebar mobile menu wrap Start ==========================-->
<div class="sidebar-menu-wrapper">
    <div class="top-close d-flex align-items-center justify-content-between">
        <div class="header-wrapper">
            <div class="logo-wrapper mb-1">
                <div class="logo-wrapper">
                    <a href="index.html" class="normal-logo" id="normal-logo"> <img src="assets/images/logo/logo.png" alt=""></a>
                    <a href="index.html" class="dark-logo hidden" id="dark-logo"> <img src="assets/images/logo/dark-logo.png" alt=""></a>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-xmark close-hide-show"></i>
    </div>
    <ul class="sidebar-menu-list">
        <li class="sidebar-menu-list__item active">
            <a href="index.html" class="sidebar-menu-list__link"> Home</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="about.html" class="sidebar-menu-list__link">About Us</a>
        </li> 
        <li class="sidebar-menu-list__item ">
            <a href="services.html" class="sidebar-menu-list__link">Services </a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="blog.html" class="sidebar-menu-list__link">Blog</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="faq.html" class="sidebar-menu-list__link">Faq</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="contact.html" class="sidebar-menu-list__link">Contact</a>
        </li>
        <li class="sidebar-menu-list__item ">
            <a class="btn btn--base mt-2 mb-2 ms-3" href="login.html"><i class="fas fa-user"></i> Login </a>
        </li>
    </ul>
</div>
<!--========================== Sidebar mobile menu wrap End ==========================-->