<!-- ==================== New Letter Start Here ==================== -->
<div class="newsletter-popup-wrap" data-animation="slideInUp">
    <div class="newsletter-popup-wrap__inner">
        <button class="newsletter-popup-wrap__close-btn" aria-label="search close button">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"></path></svg>
        </button>
        <div class="box newsletter-popup-wrap__box d-flex align-items-center">
            <div class="newsletter-popup-wrap__thumbnail">
                <img class="newsletter-popup-wrap__thumbnail-img display-block" src="assets/images/products/product-1.png" alt="newsletter-popup-thumb">
            </div>
            <div class="newsletter-popup-wrap__box-right">
                <h2 class="section-heading__title">Join Our Newsletter</h2>
                
                <div class="newsletter-popup-wrap__content">
                    <p class="newsletter-popup-wrap__content-desc">Please provide your email address to receive email notifications about our latest posts and updates.</p>
                    <div class="newsletter-popup-wrap__subscribe" id="frm_subscribe">
                        <form>
                            <div class="row gy-3">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form--control" id="email" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-sm-12 mb-3">
                                    <button type="submit" class="btn btn--base w-100">
                                       Subscribe <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                        <span style="top: -3px; left: 130px;"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-12">
                            <div class="d-flex flex-wrap justify-content-between">
                                <div class="form--check">
                                    <input class="form-check-input" type="checkbox" value="" id="newsletter-dont--show">
                                    <label class="form-check-label" for="newsletter-dont--show">Don't show this popup again me </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== New Letter End Here ==================== -->
