<!-- ==================== Pricing Start Here ==================== -->
<section class="pricing-plan section-bg py-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading  text-center">
                    <span class="subtitle">Our Pricing Plan</span>
                    <h2 class="section-heading__title">
                        Pricing we're Offering
                    </h2>
                    <p class="section-heading__desc">Clay Bluetooth Earphones are the perfect choice for anyone looking for high-quality, wireless audio that can keep up with their active lifestyle.</p>             
                 </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center position-relative">
            <div class="col-lg-4 col-md-6">
                <div class="pricing-plan-item">
                    <div class="price-shape-2"></div>
                    <div class="pricing-plan-item__top">
                        <h3 class="title">Free</h3>
                        <span>It's Free</span>
                    </div>
                    <div class="pricing-plan-item__price">
                        <h3 class="title">$29.00 <span>/m</span> </h3>
                    </div>
                    <div class="pricing-plan-item__list">
                        <ul>
                            <li> <i class="fa-solid fa-circle-check"></i> Unlimited updates </li>
                            <li> <i class="fa-solid fa-circle-check"></i> Custom permissions</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Website Toolkit</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Custom designs & features</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Advanced Features</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Custom hashtags</li>
                        </ul>
                    </div>
                    <div class="pricing-plan-item__bottom">
                        <a class="btn btn--base" href="about.html">
                            Get Started <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-plan-item">
                    <div class="price-shape-2"></div>
                    <div class="pricing-plan-item__top">
                        <h3 class="title">Basic</h3>
                        <span>save 25%</span>
                    </div>
                    <div class="pricing-plan-item__price">
                        <h3 class="title">$99.00 <span>/m</span> </h3>
                    </div>
                    <div class="pricing-plan-item__list">
                        <ul>
                            <li> <i class="fa-solid fa-circle-check"></i> Unlimited updates </li>
                            <li> <i class="fa-solid fa-circle-check"></i> Custom permissions</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Website Toolkit</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Custom designs & features</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Advanced Features</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Custom hashtags</li>
                        </ul>
                    </div>
                    <div class="pricing-plan-item__bottom">
                        <a class="btn btn--base" href="about.html">
                            Get Started <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-plan-item">
                    <div class="price-shape-2"></div>
                    <div class="pricing-plan-item__top">
                        <h3 class="title">Pro</h3>
                        <span>save 20%</span>
                    </div>
                    <div class="pricing-plan-item__price">
                        <h3 class="title">$999.00 <span>/m</span> </h3>
                    </div>
                    <div class="pricing-plan-item__list">
                        <ul>
                            <li> <i class="fa-solid fa-circle-check"></i> Unlimited updates </li>
                            <li> <i class="fa-solid fa-circle-check"></i> Custom permissions</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Website Toolkit</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Custom designs & features</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Advanced Features</li>
                            <li> <i class="fa-solid fa-circle-check"></i> Custom hashtags</li>
                        </ul>
                    </div>
                    <div class="pricing-plan-item__bottom">
                        <a class="btn btn--base" href="about.html">
                            Get Started <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Pricing End Here ==================== -->