<!-- ==================== progress section Start Here ==================== -->
<section class="progress-section py-80 reveal">
    <div class="container">
        <div class="row progress-items text-center">
            <div class="col-lg-3 col-sm-6 ">
                <div class="counter-no">
                    <h1 class="counter" data-val="48">48</h1>
                    <h1>K+</h1>
                </div>
                
                <p>Active Students</p>
            </div>

            <div class="col-lg-3 col-sm-6 ">
                <h1 class="counter" data-val="94">96</h1>
                <p>Faculty Courses</p>
            </div>

            <div class="col-lg-3 col-sm-6 ">
                <h1 class="counter" data-val="46">70</h1>
                <p>Best Professors</p>
            </div>

            <div class="col-lg-3 col-sm-6 ">
                <h1 class="counter" data-val="50">150</h1>
                <p>Award Achieved</p>
            </div>

        </div>
    </div>
</section>
<!-- ==================== progress section End Here ==================== -->