<!-- ==================== review section Start Here ==================== -->
<section class="review py-80 reveal">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 position-relative">
                <div class="section-heading  text-center">
                    <span class="subtitle">Review's</span>
                    <h2 class="section-heading__title ">
                        Review's From Students
                    </h2>
                    <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
        <div class="row py-4 review-card align-items-center">

            <div class="col-md-4 col-lg-4 ">
                <div class="review-card__container">

                    <p class="section-heading__desc mb-30">Per sed, mattis. Integer viverra euismod maecenas incidunt, phasellus consequatur aliquam nihil temporibus in assumens deserunt convallis, eius.</p>
                    
                    <div class="avatar">
                        <div class="avatar-info text-center">
                            <h6>Jenny Wilson</h6>
                            <p>SCIENCE STUDENT</p>
                        </div>
                        <div class="avatar-img">
                            <img class="__img" src="assets/images/teacher/educator-img10.png" alt="">
                        </div>
                    </div>  
                </div>
            </div>

            <div class="col-md-4 col-lg-4 ">
                <div class="review-card__container">

                    <p class="section-heading__desc mb-30">Per sed, mattis. Integer viverra euismod maecenas incidunt, phasellus consequatur aliquam nihil temporibus in assumens deserunt convallis, eius.</p>
                    
                    <div class="avatar">
                        <div class="avatar-info text-center">
                            <h6>Jenny Wilson</h6>
                            <p>SCIENCE STUDENT</p>
                        </div>
                        <div class="avatar-img">
                            <img class="__img" src="assets/images/teacher/educator-img10.png" alt="">
                        </div>
                    </div>  
                </div>
            </div>

            <div class="col-md-4 col-lg-4 ">
                <div class="review-card__container">

                    <p class="section-heading__desc mb-30">Per sed, mattis. Integer viverra euismod maecenas incidunt, phasellus consequatur aliquam nihil temporibus in assumens deserunt convallis, eius.</p>
                    
                    <div class="avatar">
                        <div class="avatar-info text-center">
                            <h6>Jenny Wilson</h6>
                            <p>SCIENCE STUDENT</p>
                        </div>
                        <div class="avatar-img">
                            <img class="__img" src="assets/images/teacher/educator-img10.png" alt="">
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="pt-4 d-flex justify-content-center">
            <a class="btn--base button__hover--Effect pill" href="contact.html">Join Us</a>
        </div>
        
    </div>
</section>
<!-- ==================== review section End Here ==================== -->