<!-- ==================== Service Start Here ==================== -->
<section class="experience-area py-80 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading  text-center">
                    <span class="subtitle">Services</span>
                    <h2 class="section-heading__title">
                        What We Provide.
                    </h2>
                    <p class="section-heading__desc">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-brands fa-tiktok"></i>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Tiktok </h3>
                    </div>
                    <div class="experience__content">
                        <p>It's a popular platform for social media marketing services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-brands fa-square-youtube"></i>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Youtube</h3>
                    </div>
                    <div class="experience__content">
                        <p>It's a popular platform for social media marketing services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-brands fa-pinterest-p"></i>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Pinterest</h3>
                    </div>
                    <div class="experience__content">
                        <p>It's a popular platform for social media marketing services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">facebook</h3>
                    </div>
                    <div class="experience__content">
                        <p>It's a popular platform for social media marketing services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-brands fa-pinterest-p"></i>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Pinterest </h3>
                    </div>
                    <div class="experience__content">
                        <p>It's a popular platform for social media marketing services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Instagram</h3>
                    </div>
                    <div class="experience__content">
                        <p>It's a popular platform for social media marketing services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-brands fa-reddit"></i>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Reddit</h3>
                    </div>
                    <div class="experience__content">
                        <p>It's a popular platform for social media marketing services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="experience">
                    <div class="experience__icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="experience__content">
                        <h3 class="title">Twitter</h3>
                    </div>
                    <div class="experience__content">
                        <p>It's a popular platform for social media marketing services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Service End Here ==================== -->