<div class="dashboard_profile">
    <div class="dashboard_profile__details">
        <div class="sidebar-menu">
            <span class="sidebar-menu__close"><i class="las la-times"></i></span>
            <ul class="sidebar-menu-list">
                
                <div class="dashboard_profile_wrap">
                    <div class="profile_photo">
                        <img src="assets/images/thumbs/team-01.jpg" alt="agent">
                        <div class="photo_upload">
                            <label for="file_upload"><i class="fa-regular fa-image"></i></label>
                            <input id="file_upload" type="file" class="upload_file">
                        </div>
                    </div>
                    <h3 class="text-center">Obaydulla</h3>
                </div>
                <li class="sidebar-menu-list__item active">
                    <a href="dashboard.html" class="sidebar-menu-list__link">
                    <span class="icon"><i class="fa fa-tachometer-alt"></i></span>
                    Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-menu-list__item">
                    <a href="my-orders.html" class="sidebar-menu-list__link">
                    <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                    <span class="text">My Orders</span>
                    </a>
                </li>
                <li class="sidebar-menu-list__item">
                    <a href="wishlist.html" class="sidebar-menu-list__link">
                        <span class="icon"><i class="fa-solid fa-heart"></i></span>
                        <span class="text">My Wishlist</span>
                    </a>
                </li> 
                <li class="sidebar-menu-list__item">
                    <a href="transactions.html" class="sidebar-menu-list__link">
                    <span class="icon"><i class="fa-solid fa-book-atlas"></i></span>
                    Transactions</span>
                    </a>
                </li>
                <li class="sidebar-menu-list__item has-dropdown">
                    <a href="javascript:void(0)" class="sidebar-menu-list__link">
                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                    <span class="text">Profile</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul class="sidebar-submenu-list">
                            <li class="sidebar-submenu-list__item">
                                <a href="user-profile.html" class="sidebar-submenu-list__link">Profile Setting</a>
                            </li>
                            <li class="sidebar-submenu-list__item">
                                <a href="change-password.html" class="sidebar-submenu-list__link">Change Password </a>
                            </li>
                            <li class="sidebar-submenu-list__item">
                                <a href="two-fa-security.html" class="sidebar-submenu-list__link">2Fa Security </a>
                            </li>
                            <li class="sidebar-submenu-list__item">
                                <a href="login.html" class="sidebar-submenu-list__link">Log Out </a>
                            </li>
                        </ul>
                    </div>
                </li> 
            </ul>
        </div>
    </div>
</div>


