<!-- ==================== Subscribe Here ==================== -->
<section class="subscribe-section py-80 bg-img" style="background-image: url(assets/images/subscribe/subscribe-bg.png);">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="subscribe-wrap position-relative">
                    <div class="section-heading">
                        <span class="subtitle">News Letter</span>
                        <h2 class="section-heading__title text-white">
                            Subscribe our newsletter
                        </h2>
                        <p class="section-heading__desc">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="subscribe-wrap position-relative">
                    <div class="subscribe-wrap__input">
                        <input type="text" class="form--control" placeholder="Enter Your Mail">
                        <button><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Subscribe Here ==================== -->