
<!-- Jquery js -->
<script src="assets/js/jquery-3.6.1.min.js"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Slick js -->
<script src="assets/js/slick.min.js"></script>
<!-- Magnific Popup js -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!--Appear for counter -->
<script src="assets/js/jquery.appear.min.js"></script>
<!-- Odometer js -->
<script src="assets/js/odometer.min.js"></script>
<!-- Viewport js -->
<script src="assets/js/viewport.jquery.js"></script>
<!-- Waypoints -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<!-- counterUp -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

 <!-- main js -->
 <script src="assets/js/main.js"></script>
</body>
</html>