<!--========================== Testimonials Section Start ==========================-->
<section class="testimonials section-bg py-80 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 position-relative">
                <div class="section-heading  text-center">
                    <span class="subtitle">Testimonials</span>
                    <h2 class="section-heading__title ">
                        Don't Believe Me Check Client Says.
                    </h2>
                    <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="testimonial-slider">
                <div class="testimonails-card">
                    <div class="testimonial-item">
                        <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i></div>
                            <div class="testimonial-item__content">
                                <div class="testimonial-item__info">
                                    
                                    <div class="testimonial-item__details">
                                        <h5 class="testimonial-item__name"> Javicerillos</h5>
                                        <span class="testimonial-item__designation"> CEO & Founder</span>
                                    </div>
                                </div>
                                <p class="testimonial-item__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur culpa magni, recusandae beatae provident nesciunt, quam corrupti rerum quod voluptatibus alias id!</p>
                            
                            
                                <div class="testimonial-item__rating">
                                    <div class="testimonial-item__thumb">
                                        <img src="assets/images/1__testimonials/testimonials-01.png" alt="">
                                    </div>
                                    <ul class="rating-list">
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="testimonails-card">
                    <div class="testimonial-item">
                        <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i></div>
                            <div class="testimonial-item__content">
                                <div class="testimonial-item__info">
                                    
                                    <div class="testimonial-item__details">
                                        <h5 class="testimonial-item__name"> Javicerillos</h5>
                                        <span class="testimonial-item__designation"> CEO & Founder</span>
                                    </div>
                                </div>
                                <p class="testimonial-item__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur culpa magni, recusandae beatae provident nesciunt, quam corrupti rerum quod voluptatibus alias id!</p>
                            
                            
                                <div class="testimonial-item__rating">
                                    <div class="testimonial-item__thumb">
                                        <img src="assets/images/1__testimonials/testimonials-02.png" alt="">
                                    </div>
                                    <ul class="rating-list">
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="testimonails-card">
                    <div class="testimonial-item">
                        <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i></div>
                        
                            <div class="testimonial-item__content">
                                <div class="testimonial-item__info">
                                    
                                    <div class="testimonial-item__details">
                                        <h5 class="testimonial-item__name"> Javicerillos</h5>
                                        <span class="testimonial-item__designation"> CEO & Founder</span>
                                    </div>
                                </div>
                                <p class="testimonial-item__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur culpa magni, recusandae beatae provident nesciunt, quam corrupti rerum quod voluptatibus alias id!</p>
                            
                            
                                <div class="testimonial-item__rating">
                                    <div class="testimonial-item__thumb">
                                        <img src="assets/images/1__testimonials/testimonials-03.png" alt="">
                                    </div>
        
                                    <ul class="rating-list">
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="testimonails-card">
                    <div class="testimonial-item">
                        <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i></div>
                        
                            <div class="testimonial-item__content">
                                <div class="testimonial-item__info">
                                    
                                    <div class="testimonial-item__details">
                                        <h5 class="testimonial-item__name"> Javicerillos</h5>
                                        <span class="testimonial-item__designation"> CEO & Founder</span>
                                    </div>
                                </div>
                                <p class="testimonial-item__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur culpa magni, recusandae beatae provident nesciunt, quam corrupti rerum quod voluptatibus alias id!</p>
                            
                                <div class="testimonial-item__rating">
                                    <div class="testimonial-item__thumb">
                                        <img src="assets/images/1__testimonials/testimonials-04.png" alt="">
                                    </div>
                                    <ul class="rating-list">
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================== Testimonials Section End ==========================-->