<!-- ==================== Why Choose us Start Here ==================== -->
<section class="why-choose-area section-bg py-80">
    <!-- <div class="why-choose-bg animate-zoom-fade"></div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading  text-center">
                    <span class="subtitle">Why Choose us</span>
                    <h2 class="section-heading__title">
                        Why you choose ous SMM Services?
                    </h2>
                    <p class="section-heading__desc">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 ">
            <div class="col-lg-6">
                <div class="why-choose-item">
                    <div class="why-choose-item__icon">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                    <div class="why-choose-item__content">
                        <h3 class="item-title">Outstanding services</h3>
                        <p>Outstanding services are the hallmark of a great business. Customers expect a high level of service, they are more likely to become loyal patrons.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why-choose-item">
                    <div class="why-choose-item__icon">
                        <i class="fa-solid fa-money-check-dollar"></i>
                    </div>
                    <div class="why-choose-item__content">
                        <h3 class="item-title">Various payment methods</h3>
                        <p>Outstanding services are the hallmark of a great business. Customers expect a high level of service, they are more likely to become loyal patrons.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why-choose-item">
                    <div class="why-choose-item__icon">
                        <i class="fa-solid fa-truck-moving"></i>
                    </div>
                    <div class="why-choose-item__content">
                        <h3 class="item-title">Delivered promptly</h3>
                        <p>Outstanding services are the hallmark of a great business. Customers expect a high level of service, they are more likely to become loyal patrons.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why-choose-item">
                    <div class="why-choose-item__icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="why-choose-item__content">
                        <h3 class="item-title">Incredible prices </h3>
                        <p>Outstanding services are the hallmark of a great business. Customers expect a high level of service, they are more likely to become loyal patrons.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Why Choose us End Here ==================== -->