<!--========================== Banner Section Start ==========================-->
<!-- bg-img -->
<section class="banner-section ">
    <!-- <span class="banner-effect shape-1 animate-zoom-fade"></span>
    <span class="banner-effect shape-2 animate-zoom-fade"></span>
    <span class="banner-effect shape-3 animate-zoom-fade"></span> -->
    
    <img class="shape-banner-bg" src="assets/images/banner/shape-bg.png" alt="">
  
    <div class="hero__slider--activation swiper">
        <div class="banner-slide-wrapper swiper-wrapper">

            <div class="swiper-slide">
                <div class="banner-slider-item">
                    <div class="container">
                        <div class="row gy-4 align-items-center">
                            <div class="col-lg-6">
                                <div class="banner-left__content">
                                    <span class="subtitle">Disruptive Marketing Solution.</span>
                                    <h2>Drive Your Business Growth with Our SMM Expertise.</h2>
                                    <p>The platform could also include social features, allowing users to share their experiences with friends and family on social media and potentially driving word-of-mouth marketing.</p>
                                    <a href="contact.html" class="btn btn--base me-2 mb-2">
                                        Get Started <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                            <div class="banner-right-wrap position-relative">
                                <div class="banner-thumb">
                                <img class="experience-text " src="assets/images/banner/banner-img-1.jpg" alt="">
                                <!-- <img class="banner-social linkdin animate-x-axis" src="assets/images/banner/linkdin.png" alt=""> -->
                                <!-- <img class="banner-social pintarest animate-y-axis" src="assets/images/banner/pintarest.png" alt=""> -->
                                <!-- <img class="banner-social insta animate-y-axis" src="assets/images/banner/insta.png" alt=""> -->
                
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-slider-item">
                    <div class="container">
                        <div class="row gy-4 align-items-center">
                            <div class="col-lg-6">
                                <div class="banner-left__content">
                                    <span class="subtitle">Disruptive Marketing Solution.</span>
                                    <h2>Drive Your Business Growth with Our SMM Expertise.</h2>
                                    <p>The platform could also include social features, allowing users to share their experiences with friends and family on social media and potentially driving word-of-mouth marketing.</p>
                                    <a href="contact.html" class="btn btn--base me-2 mb-2">
                                        Get Started <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                            <div class="banner-right-wrap position-relative">
                                <div class="banner-thumb">
                                <img class="experience-text " src="assets/images/banner/banner-img-1.jpg" alt="">
                                <img class="banner-social linkdin animate-x-axis" src="assets/images/banner/linkdin.png" alt="">
                                <img class="banner-social pintarest animate-y-axis" src="assets/images/banner/pintarest.png" alt="">
                                <img class="banner-social insta animate-y-axis" src="assets/images/banner/insta.png" alt="">
                
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-slider-item">
                    <div class="container">
                        <div class="row gy-4 align-items-center">
                            <div class="col-lg-6">
                                <div class="banner-left__content">
                                    <span class="subtitle">Disruptive Marketing Solution.</span>
                                    <h2>Drive Your Business Growth with Our SMM Expertise.</h2>
                                    <p>The platform could also include social features, allowing users to share their experiences with friends and family on social media and potentially driving word-of-mouth marketing.</p>
                                    <a href="contact.html" class="btn btn--base me-2 mb-2">
                                        Get Started <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                            <div class="banner-right-wrap position-relative">
                                <div class="banner-thumb">
                                <img class="experience-text " src="assets/images/banner/banner-img-1.jpg" alt="">
                                <img class="banner-social linkdin animate-x-axis" src="assets/images/banner/linkdin.png" alt="">
                                <img class="banner-social pintarest animate-y-axis" src="assets/images/banner/pintarest.png" alt="">
                                <img class="banner-social insta animate-y-axis" src="assets/images/banner/insta.png" alt="">
                
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> 
        
        <div class="slider__pagination style2 swiper-pagination"></div>       
    </div>

  </section>
<!--========================== Banner Section End ==========================-->