.course-type {
    border: 2px dashed  hsl(var(--base));
    border-radius: 24px;
    transition-duration: 350ms;
    transition-timing-function: ease;
    cursor: pointer;
    &:hover{
        transform:translateY(-8px);
        transition: 0.6s ease-in-out;
    }
    .course-icon{
        padding: 40px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .catagorie{
        &__logo{
            height: 80px;
            width: 80px;
        }
    }
}

.blog-item {
    &__title{
        text-align: center;
    }
}
.course-type {
    &__text{
        text-align: center !important;
    }
}
.cours-item {
    &__content{
        padding: 12px 0px 52px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.course-form{
    padding: 12px;
    border-radius: 12px;
    border: 2px dashed  hsl(var(--base));
}

.button__hover--Effect{
    background: linear-gradient(#0a1233 0 0) var(--p, 0) / var(--p, 0) no-repeat ;
    transition: .4s, background-position 0s;
  }
  .button__hover--Effect:hover{
    --p: 100%;
    color: white;
  }