/*============= Banner area start  =============*/
.banner-section {
    position: relative;
    z-index: 1;
    padding: 260px 0 120px;
    // background: hsl(var(--base)/.1);
    overflow: hidden;
    .banner-effect-1 {
        content: "";
        position: absolute;
        top: 50%;
        left: 18%;
        width: 415px;
        height: 415px;
        background-color: hsl(var(--base)/.5);
        opacity: 0.8;
        filter: blur(90px);
        border-radius: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        @include sm-screen {
            width: 100%;
        }

    }
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: hsl(var(--base)/.01);
        top: 0;
        left: 0;
        z-index: -1;
    }
    @include lg-screen {
        padding: 230px 0 160px;
    }
    @include md-screen {
        padding: 150px 0 120px;
    }
    @include sm-screen {
         padding: 150px 0 110px;
    }
    @include xsm-screen {
         padding:108px 0 80px;
    }
}

.banner-left{
    &__content {
        span.play-btn {
            font-size: 19px;
            font-weight: 700;
            color: hsl(var(--white));
            border-radius: 7px;
            display: inline-block;
            margin-bottom: 20px;
            @include sm-screen {
                font-size: 18px;
           }
            @include xsm-screen {
                font-size: 16px;
           }
        }
        span.subtitle {
            font-size: 19px;
            font-weight: 700;
            color: hsl(var(--white));
            border-radius: 7px;
            display: inline-block;
            margin-bottom: 20px;
            background: hsl(var(--base));
            padding: 5px 20px;
            @include sm-screen {
                font-size: 18px;
           }
            @include xsm-screen {
                font-size: 16px;
           }
        }
        h2 {
            font-size: 60px;
            text-transform: capitalize;
            margin-bottom: 20px;
            font-weight: 800;
            color: hsl(var(--black));
            line-height: 1.2; 
            @include xl-screen {
                font-size: 52px !important;
            }     
            @include xl-screen {
                font-size: 43px !important;
            }     
            @include msm-screen {
                font-size: 43px !important;
            }     
            @include md-screen {
                font-size: 51px !important;
            }     
            @include msm-screen {
                font-size: 39px !important;
            }     
            @include xsm-screen {
                font-size: 28px !important;
            }     
            .animate-shape { 
                position: relative;
                width: 100%;
                top: 0;
                position: absolute;
                left: 0;
                @include sm-screen {
                  width: 65%;
                }
                img {  
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                -webkit-animation: section-animation 3s infinite;
                animation: section-animation 3s infinite;
                @include sm-screen {
                    top: 25px;
                }
                }
            }
            span {
                color: hsl(var(--base));
                background-image: linear-gradient(to right,  hsl(var(--base)) 0%,  hsl(var(--base-light)) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            @include xl-screen {
                font-size: 60px;
            }
            @include lg-screen {
                font-size: 50px;
            }
            @include md-screen {
                font-size: 50px;
            }
            @include sm-screen {
                font-size: 32px;
            }
            @include xxsm-screen {
                font-size: 28px;
            }
        }
        p {
            margin-bottom: 35px;
            color: hsl(var(--black)/.8);
            @include md-screen {
                margin-bottom: 15px;
            }
        }
        .btn {
            @include md-screen {
                padding: 12px 15px;
            }
            @include xxsm-screen {
                padding: 8px 10px;
            }
        }
        .banner-bottom {
            margin-bottom: 15px;
        }
    }
}

.banner-right-wrap {
    text-align: right;
    position: relative;
    img.experience-text {
        max-width: 510px;
    }
    @include md-screen {
        text-align: start;
    }
    .banner-social {
        position: absolute;
        width: 60px;
        height: 60px;
        object-fit: contain;
        @include xsm-screen {
            width: 40px;
            height: 40px
        }
        &.linkdin {
            right: 56%;
            top: 20px;
            @include lg-screen {
                right: 74%;
            }
            @include md-screen {
                left: 7%;
            }
        }
        &.pintarest {
            right: 6%;
            top: 20px;
            @include md-screen {
                left: 51%;
                top: 28px;
            }
            @include md-screen {
                left: 52% !important;
                top: 28px;
            }
            @include sm-screen {
                left: 72% !important;
                top: 28px;
            }
        }
        &.insta {
            right: 56%;
            bottom: 20px;
            @include lg-screen {
                right: 74%;
            }
            @include md-screen {
                left: 7%;
            }
        }
    }
    .round-shape-1 {
        position: absolute;
        width: 71px;
        right: 8%;
        top: 20%;
    }
    .octagon-shape-1 {
        position: absolute;
        left: -50px;
        width: 70px;
        top: 80px;
        @include md-screen {
            left: 121px;
            width: 70px;
            top: -99px;
        }
        @include sm-screen {
            left: 57%;
            top: -73px;
            width: 50px;
        }
    }
}

@keyframes section-animation {
    0% {
        width: 0;
    }
    
    15% {
        width: 50%;
    }
    85% {
        opacity: 1;
    }
    90% {
        width: 50%;
        opacity: 0;
    }
    100% {
        width: 0;
        opacity: 0;
    }
  }
/*======= play video button style =======*/
.banner-bottom .play-video {
    height: 58px;
    width: 58px;
    line-height: 58px;
    border-radius: 50%;
    margin-top: -5px;
}

.banner-bottom .waves {
    height: 115px;
    width: 115px;
    line-height: 115px;
    border-radius: 50%;
    right: -28px;
    bottom: -29px;
}

.banner__img{
    border-radius: 12px;
    animation: animate 2s infinite ease alternate !important;
}

@keyframes animate {
    to {
      transform: translateY(20px);
    }
  }

