.progress-section{
    background:hsl(var(--base)/0.5);;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
   .counter-no{
    display: inline-flex;
   }
}