  /*=================== Testimonials =========*/
  .testimonials {
    position: relative;
    overflow: hidden;
    .star-shape-1 {
        top: -60px;
        left: 0;
        @include sm-screen {
            top: -30px;
            left: 40px;
        }
    }
    .star-shape-2.testimonial-item-star  {
        bottom: 22px;
        right: 0;
    }
}


.testimonial-item {
    background-color: hsl(var(--white));
    padding: 30px;
    border-radius: var(--border-radius);
    border: 2px solid hsl(var(--base)/0.07);
    position: relative;
    height: 100%; 
    display: flex;
    transition: all 0.4s ease-in-out;
    &:hover {
        border: 2px solid hsl(var(--base)/0.4);
    }
    @include xsm-screen {
        padding: 25px 15px;
    }
    @include msm-screen {
        margin-bottom: 35px;
        flex-direction: column;
        overflow: hidden;
    }
    &__quate {
        position: absolute;
        opacity: 0.08;
        top: 61%;
        left: 50%;
        transform: translate(-50%, -50%);
        i {
            font-size: 170px;
            color: hsl(var(--base)/.7);
        }
    }
    &__rating {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        justify-content: space-between;
    }
    &__info {
        margin-bottom: 15px;
        @include xsm-screen {
            margin-bottom: 10px;
        }
    }
    &__thumb {
        z-index: 22;
        width: 170px;
        margin: 0 auto 20px;
        @include msm-screen {
            width: 110px;
        }
        // &:before {
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     height: 50%;
        //     width: 100%;
        //     background-color: hsl(var(--base));
        //     border-radius: 120px 120px 0 0;
        //     content: "";
        // }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
            position: relative;
            border-radius: 50%;
        //     @include msm-screen {
        //         width: inherit;
        //         height: inherit;
        //         object-fit: inherit;            }
        }
    }
    &__details {
        // width: calc(100% - 60px);
        @include xsm-screen {
            // width: calc(100% - 45px);
            padding-left: 10px;
        }
    }
    &__name {
        margin-bottom: 0;
        color: hsl(var(--black) );
    }
    &__designation {
        color: hsl(var(--black) / .8);
    }
    &__desc {
        color: hsl(var(--black) / .5);
        margin-bottom: 20px;
        @include xsm-screen {
            margin-bottom: 10px;
        }
    }
}

.rating-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__item {
        padding: 0 1px;
        color: hsl(var(--base));
    }
}